table {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}
thead tr {
    height: 50px;
    background-color: rgb(96, 96, 211);
}
td, th {
    border: 1px solid gray;
    min-width: 80px;
}
tbody tr:nth-child(odd) {
    background-color: gray;
}
tbody tr:nth-child(even) {
    background-color: lightgray;
}
body {
    background-color: coral;
}
td {
    text-align: center;
    color: rgb(216, 109, 38);
}
main {
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

@media screen and (max-width: 500px) {
    article {
        overflow-x: scroll;
    }
}