table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid gray;
    min-width: 80px;
}
tbody tr:nth-child(odd) {
    background-color: gray;
}
th {
    background-color: aqua;
    color: aliceblue;
    font-weight: normal;
}
.osszevont {
    background-color: brown;
}

@media screen and (max-width: 500px) {
    article {
        overflow-x: scroll;
    }
}